/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../assets/fonts/dancing-script-v14-latin-regular.woff2')
      format('woff2'),
    url('../assets/fonts/dancing-script-v14-latin-regular.woff') format('woff');
}

/* dancing-script-700 - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../assets/fonts/dancing-script-v14-latin-700.woff2') format('woff2'),
    url('../assets/fonts/dancing-script-v14-latin-700.woff') format('woff');
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v14-latin-regular.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../assets/fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v14-latin-700.woff') format('woff');
}

/* marck-script-regular - cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'),
    url('../assets/fonts/marck-script-v10-cyrillic-regular.woff2')
      format('woff2'),
    url('../assets/fonts/marck-script-v10-cyrillic-regular.woff') format('woff');
}

/* share-tech-mono-regular - latin */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
    url('../assets/fonts/share-tech-mono-v9-latin-regular.woff2')
      format('woff2'),
    url('../assets/fonts/share-tech-mono-v9-latin-regular.woff') format('woff');
}
