@import './libs/normalize.css';
@import './fonts.css';
@import './vars.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}

@media (max-width: 830px) and (orientation: landscape) {
  body {
    display: none;
  }

  html {
    background-color: var(--bg-color-golden);
  }

  html:before {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'Please return the device to portrait orientation!';
    width: 470px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
    z-index: 100;
  }
}
