.link__google {
  display: block;
  width: 120px;
  height: 44px;
  border: 2px solid var(--color-golden);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--bg-color-white);
  box-shadow: var(--box-shadow-light);
  outline: none;
  transition: 0.8s ease-in-out;
  box-shadow: var(--box-shadow-light);
}

.link__google:hover,
.link__google:focus {
  background-color: var(--bg-color-golden);
  transition: 0.8s ease-in-out;
}

.link__wrapper {
  display: flex;
  padding-left: 8px;
  padding-top: 6px;
}

.link__span {
  padding-left: 6px;
  line-height: 28px;
}
