.button {
  width: 120px;
  height: 44px;
  border: 2px solid #c9a131;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #171718;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #c9a131;
  transition: 0.8s ease-in-out;
}
