.input {
  padding: 0 10px;
  display: block;
  width: 620px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  color: #c9a131;
  outline: none;
  transition: 0.3s ease-in-out;
}

.input:hover,
.input:focus {
  border-color: #c9a131;
  transition: 0.3s ease-in-out;
}

.input::placeholder {
  color: #171718;
}

@media (max-width: 1300px) {
  .input {
    width: 300px;
  }
}
