.container {
  margin: 0 auto;
  width: 1260px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../assets/img/backdrops/backdrop-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  position: relative;
  flex: 1 0 auto;
  /* ----- */
  height: calc(100vh - 162px);
  overflow-y: scroll;
}

.main__title {
  margin: 0 auto;
  width: 620px;
  font-family: 'Dancing Script', cursive;
  font-size: 44px;
  font-weight: 900;
  color: var(--color-white);
  text-shadow: var(--text-shadow);
  text-align: center;
}

@media (max-width: 1300px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 620px;
  }
}

@media (max-width: 660px) {
  .container {
    width: 300px;
  }

  .main__title {
    width: 300px;
    font-size: 40px;
  }
}

@media (max-width: 300px) {
  .wrapper {
    overflow-x: scroll;
  }
}
