.container {
  margin: 0 auto;
  width: 1260px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* min-height: 568px; */
  background-image: url(../../assets/img/backdrops/backdrop-10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  position: relative;
  flex: 1 0 auto;
}
