.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../assets/img/backdrops/backdrop-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.about__title {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  font-weight: 600;
  color: var(--color-silver);
  text-align: center;
}

.about__title::before,
.about__title::after {
  margin: 0 auto;
  display: block;
  content: '';
  width: 247px;
  height: 24px;
  background-image: url(../../assets/img/decoration/decoration.png);
  background-repeat: no-repeat;
  background-position: center;
}

.about__title::before {
  margin-bottom: 10px;
}

.about__title::after {
  margin-top: 10px;
  transform: rotate(180deg);
}

@media (max-width: 1300px) {
  .about {
    width: 386px;
  }

  .about__title {
    font-size: 34px;
  }

  .about__title::before {
    margin-bottom: 6px;
  }

  .about__title::after {
    margin-top: 6px;
  }
}

@media (max-width: 1200px) {
  .about {
    width: 300px;
  }

  .about__title {
    font-size: 28px;
  }
}

@media (max-width: 980px) {
  .about {
    width: 260px;
  }

  .about__title {
    font-size: 22px;
  }

  .about__title::before,
  .about__title::after {
    width: 260px;
  }
}

@media (max-width: 980px) and (orientation: landscape) {
  .about {
    width: 180px;
  }

  .about__title {
    font-size: 18px;
    line-height: 1;
  }

  .about__title::before,
  .about__title::after {
    margin: 0;
    width: 180px;
  }
}

@media (max-width: 660px) and (orientation: landscape) {
  .about {
    width: 170px;
  }

  .about__title {
    font-size: 15px;
  }

  .about__title::before,
  .about__title::after {
    width: 170px;
  }
}

@media (max-width: 320px) {
  .about {
    width: 230px;
  }

  .about__title {
    font-size: 18px;
  }

  .about__title::before,
  .about__title::after {
    margin: 0;
    width: 230px;
  }
}

@media (max-width: 300px) {
  .wrapper {
    overflow-x: scroll;
  }
}
