.backdrop {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-backdrop);
  align-items: center;
  z-index: 10;
}

.modal {
  border: none;
  border-radius: 8px;
  background-color: var(--bg-color-white);
  background-image: url(../../assets/img/backdrops/backdrop-04.png);
  background-repeat: no-repeat;
  background-position: center;
}
