.container {
  margin: 0 auto;
  width: 1260px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 700px;
  background-image: url(../../assets/img/backdrop-02.jpg);
  /* background-image: url(../../assets/img/backdrop-04.jpeg); */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  flex: 1 0 auto;
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.control__wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .container {
    width: 940px;
  }

  /* .control__wrapper {
    width: 620px;
  } */
}

@media (max-width: 980px) {
  .container {
    width: 620px;
  }

  .control {
    flex-wrap: wrap;
  }
}

@media (max-width: 660px) {
  .container {
    width: 300px;
  }

  /* .recipes__wrapper {
    flex-direction: column-reverse;
  } */
}
