.form {
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
}

.form::after {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  content: '';
  width: 161.1px;
  height: 216px;
  background-image: url(../../assets/img/decoration/chef.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.label {
  margin-bottom: 20px;
  width: 500px;
}

.input {
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 44px;
  border: 2px solid var(--color-golden);
  border-radius: 5px;
  font-size: 18px;
  color: var(--color-dark-blue);
  outline: none;
}

.textarea {
  padding: 0 60px 0 10px;
  display: block;
  width: 100%;
  height: 200px;
  border: 2px solid var(--color-golden);
  border-radius: 5px;
  font-size: 18px;
  color: var(--color-dark-blue);
  outline: none;
  resize: none;
}

.label__level {
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-golden);
  align-items: center;
}

.label__level select {
  margin-left: 20px;
  height: 34px;
  width: 106px;
  border: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: var(--bg-color-golden);
  outline: none;
}

.buttons {
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  width: 440px;
  align-self: baseline;
}

@media (max-width: 980px) and (orientation: landscape) {
  .textarea {
    height: 80px;
  }
}

@media (max-width: 660px) and (orientation: portrait) {
  .form {
    width: 300px;
  }

  .form::after {
    bottom: 94px;
    width: 143px;
    height: 190px;
  }

  .label {
    width: 270px;
  }

  .label__description {
    margin-bottom: 30px;
  }

  .label__level {
    padding-right: 12px;
    font-size: 28px;
  }

  .label__level select {
    margin-top: 40px;
    margin-left: 0;
    width: 120px;
    height: 44px;
  }

  .textarea {
    padding-right: 10px;
    height: 160px;
  }

  .buttons {
    padding-left: 0;
    width: 270px;
    align-self: center;
  }
}

@media (max-width: 620px) and (orientation: landscape) {
  /* .form {
    overflow-x: scroll;
  } */

  /* .buttons {
    padding-left: calc((100vw - 500px) / 2);
    width: 414px;
  }

  .form::after {
    width: 138px;
    height: 183px;
  } */
}
