.container {
  margin: 0 auto;
  width: 1260px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.footer__title {
  margin: 0 auto;
  font-size: 14px;
  color: var(--color-golden);
  font-weight: 400;
  text-align: center;
  text-shadow: var(--text-shadow);
}

@media (max-width: 1300px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 620px;
  }
}

@media (max-width: 660px) {
  .container {
    width: 300px;
  }
}
