.container {
  margin: 0 auto;
  width: 1260px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.footer__title {
  margin: 0 auto;
  font-size: 14px;
  color: #c9a131;
  font-weight: 400;
  text-align: center;
  text-shadow: -0 -1px 2px #000000, 0 -1px 2px #000000, -0 1px 2px #000000,
    0 1px 2px #000000, -1px -0 2px #000000, 1px -0 2px #000000,
    -1px 0 2px #000000, 1px 0 2px #000000, -1px -1px 2px #000000,
    1px -1px 2px #000000, -1px 1px 2px #000000, 1px 1px 2px #000000,
    -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000,
    1px 1px 2px #000000;
}

@media (max-width: 1300px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 620px;
  }
}

@media (max-width: 660px) {
  .container {
    width: 300px;
  }
}
