.wrapper {
  /* margin: 0 auto; */
  padding: 12px 0;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border: none;
  border-radius: 8px;
  background-image: url(../../assets/img/backdrops/backdrop-06.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: var(--box-shadow-light);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  position: relative;
  width: 270px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-grey);
}

.label::before {
  content: '* ';
  color: var(--color-orange);
}

.label__name,
.label__email {
  margin-bottom: 14px;
}

.label__password {
  margin-bottom: 28px;
}

.input {
  margin: 4px 0;
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 44px;
  border: 2px solid var(--color-golden);
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-dark-blue);
  outline: none;
  box-shadow: var(--box-shadow-light);
}

.error {
  position: absolute;
  left: 0;
  display: block;
  font-size: 13px;
  color: var(--color-orange);
  width: 100%;
  font-weight: 500;
}

.error::first-letter {
  text-transform: uppercase;
}

.combination {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.relink {
  color: var(--color-grey);
}

.link {
  color: var(--color-orange);
  outline: none;
}
