.button {
  width: 120px;
  height: 44px;
  border: 2px solid var(--color-golden);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark-blue);
  background-color: var(--bg-color-white);
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: 0.8s ease-in-out;
  box-shadow: var(--box-shadow-light);
}

.button:hover,
.button:focus {
  background-color: var(--bg-color-golden);
  transition: 0.8s ease-in-out;
}
