.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  height: calc(100vh - 230px);
  overflow-y: scroll;
}

.item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .item:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .item:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 40px;
  }
}

@media (max-width: 660px) {
  .list {
    height: calc(100vh - 246px);
  }

  .item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 40px;
  }
}
