.wrapper {
  height: 100vh;
  background-color: var(--bg-color-golden);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error__title {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 700;
}

.error__subtitle {
  margin-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.error__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  transition: 0.3s ease-in-out;
}

.error__link:hover,
.error__link:focus {
  color: var(--color-golden);
  transition: 0.3s ease-in-out;
}

.error {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.error__number {
  font-size: 300px;
  line-height: 1;
  font-weight: 700;
  color: var(--color-black);
}

.error__dish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

@media (max-width: 980px) {
  .error__title {
    margin: 0 auto;
    font-size: 40px;
    width: 560px;
  }

  .error__subtitle {
    margin: 0 auto;
    width: 560px;
  }

  .error {
    width: 560px;
  }

  .error__number {
    font-size: 240px;
  }

  .error__dish {
    width: 240px;
  }
}

@media (max-width: 980px) and (orientation: landscape) {
  .error__title {
    font-size: 28px;
  }

  .error__subtitle {
    font-size: 28px;
  }

  .error {
    width: 480px;
  }

  .error__number {
    font-size: 200px;
  }

  .error__dish {
    width: 200px;
  }
}

@media (max-width: 660px) {
  .error__title {
    font-size: 28px;
    width: 280px;
  }

  .error__subtitle {
    font-size: 28px;
    width: 280px;
  }

  .error {
    width: 280px;
  }

  .error__number {
    font-size: 120px;
  }

  .error__dish {
    width: 120px;
  }
}

/* @media (max-width: 660px) and (orientation: landscape) {
  .error__title {
    width: 500px;
  }

  .error__subtitle {
    width: 500px;
  }
} */
