.wrapper {
  height: 100vh;
  background-color: #c9a131;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error__title {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 700;
}

.error__subtitle {
  margin-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.error__subtitle a {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 -1px 2px #000000, 0 -1px 2px #000000, 0 1px 2px #000000,
    0 1px 2px #000000, -1px 0 2px #000000, 1px 0 2px #000000, -1px 0 2px #000000,
    1px 0 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000,
    -1px 1px 2px #000000, 1px 1px 2px #000000, -1px -1px 2px #000000,
    1px -1px 2px #000000, -1px 1px 2px #000000, 1px 1px 2px #000000;
  transition: color 0.3s ease-in-out;
}

.error__subtitle a:hover,
.error__subtitle a:focus {
  color: #c9a131;
  /* color: #ffffff; */
  transition: color 0.3s ease-in-out;
}

.error {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.error__number {
  font-size: 300px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.error__dish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

@media (max-width: 980px) {
  .error__title {
    margin: 0 auto;
    width: 510px;
    font-size: 28px;
  }

  .error__subtitle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .error__subtitle a {
    font-size: 20px;
  }

  .error {
    width: 510px;
  }

  .error__number {
    font-size: 220px;
  }

  .error__dish {
    width: 220px;
  }
}

@media (max-width: 660px) {
  .error__title {
    width: 280px;
  }

  .error__subtitle {
    width: 280px;
    font-size: 32px;
  }

  .error {
    width: 280px;
  }

  .error__number {
    font-size: 120px;
  }

  .error__dish {
    width: 120px;
  }
}

@media (max-width: 300px) {
  .wrapper {
    overflow-x: scroll;
  }
}
